<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaseApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A022DBB1EA9AC9C006043FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A022DCF1EA9AC9C006043FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A022DDA1EA9AC9C006043FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
